.products {
  width: 100%;
  min-height: 960px;
  background-color: $color-black-pearl;
}

.products__wrap {
  max-width: 1300px;
  padding-top: 64px;
  padding-bottom: 140px;

  @include vp-1023 {
    padding-top: 55px;
    padding-bottom: 75px;
  }

  @include vp-767 {
    padding-top: 48px;
    padding-bottom: 87px;
  }
}

.products__main-title {
  @include font(400, 36px, 51px);
  color: $color-default-white;
  margin: 0 0 55px;

  @include vp-1023 {
    margin: 0 0 38px;
  }

  @include vp-767 {
    font-size: 28px;
    line-height: 39px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 28px;
  }
}

.products__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 28.7%);
  gap: 30px 7%;

  @include vp-1023 {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.products__item {
  min-height: 650px;
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    height: 100%;
    object-fit: none;
  }

  &--production {
    img {
      object-position: 17% 70%;
    }
  }

  &--mounting {
    img {
      object-position: 47% 70%;
    }
  }

  &--accessories {
    img {
      object-position: 78% 70%;
    }
  }

  @include vp-1023 {
    min-height: 250px;

    &--production {
      img {
        object-position: 29% 96%;
      }
    }

    &--mounting {
      img {
        object-position: 76% 55%;
      }
    }

    &--accessories {
      img {
        object-position: 18% 63%;
      }
    }
  }

  @include vp-767 {
    &--production {
      img {
        object-position: 31% 52%;
      }
    }

    &--mounting {
      img {
        object-position: 30% 95%;
      }
    }

    &--accessories {
      img {
        object-position: 72% 69%;
      }
    }
  }
}

.products__link {
  display: block;
  height: 100%;
  background-color: $color-contacts-black-pearl;
  padding: 47px 140px 20px 40px;
  position: relative;

  @include vp-1023 {
    padding: 39px 45px 20px;
  }

  @include vp-767 {
    padding: 26px 30px 20px;
  }
}

.products__link-title {
  @include font(400, 20px, 30px);
  color: $color-default-white;
  margin: 0;

  br {
    display: none;
  }

  @include vp-1023 {
    br {
      display: block;
    }
  }

  @include vp-767 {
    font-size: 18px;
  }
}

.products__link-arrow {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: $color-deep-sky-blue;
  border-radius: 3px 0 0 0;
  bottom: 0;
  right: 1px;

  &::before,
  &::after {
    content: "";
    width: 6px;
    height: 1px;
    background-color: $color-default-white;
    border-radius: 0 3px 3px 0;
    position: absolute;
    top: 50%;
    left: 49%;
    transform-origin: right;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  @include vp-767 {
    width: 40px;
    height: 40px;

    &::before,
    &::after {
      width: 4px;
    }
  }
}

.products__title-text {
  &--services {
    text-transform: lowercase;
  }

  @include vp-767 {
    &--name {
      order: 2;
    }

    &--other {
      display: none;
    }

    &--services {
      text-transform: none;
      order: 1;
    }
  }
}
